/* Global css goes here */
@font-face {
  font-family: PDR;
  src: url("../fonts/playfairdisplay/PlayfairDisplay-Regular.ttf")
    format("TrueType");
}
@font-face {
  font-family: PDM;
  src: url("../fonts/playfairdisplay/PlayfairDisplay-Medium.ttf")
    format("TrueType");
}
@font-face {
  font-family: PDSB;
  src: url("../fonts/playfairdisplay/PlayfairDisplay-SemiBold.ttf")
    format("TrueType");
}
@font-face {
  font-family: PDB;
  src: url("../fonts/playfairdisplay/PlayfairDisplay-Bold.ttf")
    format("TrueType");
}
@font-face {
  font-family: PDEB;
  src: url("../fonts/playfairdisplay/PlayfairDisplay-ExtraBold.ttf")
    format("TrueType");
}
@font-face {
  font-family: PL;
  src: url("../fonts/poppins/Poppins-Light.ttf") format("TrueType");
}
@font-face {
  font-family: PR;
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("TrueType");
}
@font-face {
  font-family: PM;
  src: url("../fonts/poppins/Poppins-Medium.ttf") format("TrueType");
}
@font-face {
  font-family: PSB;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf") format("TrueType");
}
@font-face {
  font-family: PB;
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("TrueType");
}
@font-face {
  font-family: PEB;
  src: url("../fonts/poppins/Poppins-ExtraBold.ttf") format("TrueType");
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-family: PR, "Sans Serif";
  color: #141414;
  line-height: 1.4;
  background: linear-gradient(0deg, #0c001b 0%, #0c001b 100%), #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-block: 0;
  font-family: PB, "Sans Serif";
}
h1 {
  font-size: 2em;
  font-family: PDB;
  max-width: 18em;
}
h3 {
  font-size: 1.4em;
  color: #545454;
  letter-spacing: 1px;
  margin-bottom: 40px;
  font-family: PL;
  text-transform: uppercase;
}
p,
li {
  margin: 0;
}
section.template {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}
.template .container {
  background-color: #fff;
  width: 100%;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-block: 100px;
  max-width: 1000px;
  padding-inline: 60px;
  margin-inline: auto;
}
.template .container * {
  z-index: 1;
  position: relative;
}
.template .container img {
  z-index: 0;
  position: absolute;
}

.corner {
  width: 22em;
}
.topcorner {
  top: 0;
  left: 0;
}
.bottomcorner {
  bottom: 0;
  right: 0;
}
.logo {
  top: 50px;
  width: 8em;
  right: 72px;
}
.texturelogo {
  right: 13.5%;
  width: 8em;
  top: 180px;
}
.o_detial {
  margin-top: 30px;
}
.o_detial p {
  color: #2d2d2d;
}
.o_name {
  font-family: "PDB";
  font-size: 1em;
}
p.o_position {
  font-family: "PDB";
  color: #7a2bef;
}
.customer_dettail {
  margin-top: 90px;
}
.c_name {
  font-family: "PDB";
  color: #7a2bef;
  margin-bottom: 10px;
  font-size: 2.65em;
  line-height: 1;
}
.completed_date {
  font-family: PM;
}
span.date {
  font-family: "PDB";
  font-size: 1.2em;
}
